@use '@styles/variables' as *;
@use '@styles/mixin' as *;

.label {
  @include label;
}

.input {
  gap: $spacing-250;
  justify-content: center;
  height: 54px;
  padding: 0 $spacing-200;
  color: $neutral-0;
  transition: 0.4s ease-out;
  @include flex-column;
  @include text-preset-6;
  @include input-base-style;

  &:focus {
    background: rgb(255 255 255 / 8%);
    box-shadow:
      0 0 0 3px $neutral-900,
      0 0 0 5px $neutral-500;
  }

  @media (hover: hover) {
    &:hover {
      background: rgb(255 255 255 / 20%);
    }
  }

  &::placeholder {
    color: $neutral-300;
  }

  &.invalid {
    border: 1px solid $orange-500;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: 1px solid $neutral-500;
    -webkit-text-fill-color: $neutral-0;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.hint {
  @include hint;

  color: $orange-500;

  &.invalid {
    color: $orange-500;
  }
}
