@use '@styles/variables' as *;
@use '@styles/mixin' as *;

.ticket-section {
  position: relative;
  gap: clamp(72px, 7.71vw, 111px);
  margin: 0 $spacing-200;
  @include flex-center-column;
}

.ticket {
  position: relative;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 343 / 161;
  padding: clamp($spacing-150, 5vw, $spacing-300);
  color: $neutral-300;
  @include flex-column;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.confirmation {
  gap: clamp($spacing-250, 3.13vw, $spacing-400);
  align-items: center;
  text-align: center;
  @include flex-column;
}

.title {
  margin: 0;
  max-width: 814px;
  @include text-preset-1;

  .name {
    background: linear-gradient(90deg, $orange-500 0%, $neutral-0 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text {
  max-width: 514px;
  margin: 0;
  @include text-preset-4;

  .email {
    color: $orange-500;
  }
}

.ticket-info {
  display: flex;
  gap: clamp($spacing-150, 2.08vw, $spacing-250);

  & > svg {
    margin-top: $spacing-150;
  }
}

.event-summary {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: clamp($spacing-100, 1.04vw, $spacing-150);
}

.event {
  grid-column: span 3;
  @include text-preset-2;
}

.event-info {
  grid-row: 2;
  @include text-preset-6-adaptive;
}

.ticket-number {
  position: absolute;
  top: 50%;
  right: 0;
  color: $neutral-500;
  transform: translateY(-50%) rotate(90deg);
  @include text-preset-3-number;
}

.attendee {
  display: flex;
  gap: clamp($spacing-150, 1.56vw, $spacing-200);
  align-items: center;

  img {
    width: clamp(45px, 10.42vw, 80px);
    height: clamp(45px, 10.42vw, 80px);
    object-fit: cover;
    border-radius: $radius-6;
  }
}

.user-info {
  display: inline-grid;
  grid-template-columns: 16px auto;
  gap: $spacing-050;
  align-items: center;
}

.fullname {
  grid-column: span 2;
  color: $neutral-0;
  @include text-preset-3;
}

.github {
  @include text-preset-5-adaptive;
}
