@use '@styles/variables' as *;
@use '@styles/mixin' as *;

.label {
  @include label;
}

.field {
  position: relative;
  gap: $spacing-200;
  width: 100%;
  padding: $spacing-150 $spacing-200;
  outline: none;
  background: rgb(255 255 255 / 8%);
  border: 1px dashed $neutral-500;
  border-radius: $radius-12;
  backdrop-filter: blur(2.5px);

  @include flex-center-column;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:focus-within {
    box-shadow:
      0 0 0 3px $neutral-900,
      0 0 0 5px $neutral-500;
  }

  input {
    cursor: pointer;
  }
}

.file-input {
  position: absolute;
  opacity: 0;
}

.upload-icon-container {
  @include flex-center;

  width: 50px;
  height: 50px;
  margin-top: $spacing-050;
  overflow: hidden;
  background: rgb(255 255 255 / 10%);
  border: 1px solid $neutral-700;
  border-radius: $radius-12;
  box-shadow: 0 2px 4px -2px $neutral-900;
  backdrop-filter: blur(12px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hint {
  display: flex;
  gap: $spacing-100;
  align-items: center;
  color: $neutral-300;
  @include text-preset-7;

  &.invalid {
    color: $orange-500;
  }
}

.image-controls {
  padding: $spacing-050 $spacing-100;
  color: $neutral-300;
  cursor: pointer;
  outline: none;
  background: rgb(255 255 255 / 10%);
  border: none;
  border-radius: $radius-4;
  transition: 0.4s ease-out;
  @include text-preset-7;
  @include flex-center;

  &:first-child {
    text-decoration: underline;
  }

  &:focus {
    border: 1px solid $neutral-700;
  }

  &:hover {
    color: $neutral-0;
    background: rgb(255 255 255 / 20%);
  }
}

.instruction-text {
  gap: $spacing-100;
  margin-bottom: $spacing-050;
  color: $neutral-300;
  @include text-preset-6;
  @include flex-center;
}
