@use '@styles/variables' as *;
@use '@styles/mixin' as *;

.header {
  position: relative;
  z-index: 10;
  gap: clamp(12.8px, 2vw, $spacing-200);
  @include flex-center;
}
.container {
  overflow: hidden;
}

.text {
  font-family: $font-family-secondary;
  font-size: clamp($font-size-20, 2.5vw, $font-size-24);
  font-weight: 700;
  color: $neutral-0;
}
