@use '@styles/variables' as *;
@use '@styles/mixin' as *;

.text {
  @include flex-center-column;

  gap: $spacing-250;
}

.title {
  max-width: 814px;
  @include text-preset-1;
}

.subtitle {
  @include text-preset-4;
}

.form-page {
  gap: clamp($spacing-500, 5.86vw, 45px);
  margin: 0 $spacing-200;
  @include flex-column;
}
