@use '@styles/variables.scss' as *;
@use '@styles/mixin' as *;
@import 'https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap';

:root {
  font-family: $font-family-primary;
  color: $neutral-300;
  background-color: $neutral-900;
  background: radial-gradient(
    circle,
    rgba(7, 2, 44, 1) 0%,
    rgba(7, 2, 44, 1) 22%,
    rgba(23, 2, 69, 1) 39%,
    rgba(39, 1, 96, 1) 55%,
    rgba(31, 1, 79, 1) 72%,
    rgba(16, 1, 49, 1) 83%,
    rgba(2, 1, 20, 1) 100%
  );
  background-position: bottom right 20%;
  background-size: 200% 200%;
  color: white;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  gap: clamp(39px, 7.68vw, 69px);
  padding-top: clamp(32px, 5.21vw, 40px);
  padding-bottom: 30vh;
  @include flex-center-column;
  overflow: hidden;
  position: relative;
}

main {
  position: relative;
  z-index: 10;
}

.pattern {
  position: absolute;
}

.top-wave {
  top: 7.6vh;
  right: 0;
  width: clamp(112px, 30.21vw, 446px);
}
.bottom-wave {
  bottom: 0;
  left: 0;
  width: clamp(301px, 51.56vw, 825px);
}

.background-lines {
  top: 0;
}
