@use '@styles/variables.scss' as *;
@use '@styles/mixin' as *;
@import 'https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap';

:root {
  font-family: $font-family-primary;
  color: $neutral-300;
  background-color: $neutral-900;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  margin-top: clamp(32px, 5.21vw, 40px);
  margin-bottom: 30vh;
  gap: clamp(39px, 7.68vw, 69px);
  @include flex-center-column;
}
